# Dependencies
node_modules
.pnpm-debug.log*
.yarn/*
!.yarn/releases
!.yarn/plugins

# Build output
dist
dist-electron
out
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output
playwright-report
test-results

# Environment
.env
.env.local
.env.*.local

# Electron
*.log
release
